* {
    box-sizing:border-box;
}


body {

    margin:0;

    min-height:100vh;

    background:#d7eee2;

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:Arial, sans-serif;

}



.card {

    width:420px;

    max-width:90%;

    background:white;

    padding:25px;

    border-radius:25px;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

}



.map {

    width:100%;

    border-radius:18px;

}



h1 {

    text-align:center;

    font-size:28px;

    margin:25px 0;

}



.player {

    background:#dceee9;

    padding:25px;

    border-radius:20px;

}



.controls {

    display:flex;

    justify-content:center;

    align-items:center;

    gap:20px;

}



.controls button {

    border:none;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

}



#back,
#forward,
#volume {

    width:45px;

    height:45px;

    border-radius:50%;

    background:white;

    font-size:20px;

}



.play {

    width:75px;

    height:75px;

    border-radius:50%;

    background:#54a879;

    color:white;

    font-size:30px;

}



.time {

    display:flex;

    align-items:center;

    gap:10px;

    margin-top:20px;

}



#progress {

    flex:1;

}



#volume {

    margin-top:20px;

}



.buttons {

    display:flex;

    justify-content:center;

    gap:20px;

    margin-top:20px;

}



.buttons a,
.buttons button {

    border:none;

    background:#54a879;

    color:white;

    padding:12px 18px;

    border-radius:15px;

    text-decoration:none;

    cursor:pointer;

}
